# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

##### **Objective of this notebook**:
* List common languages used in data science
* List common libraries used in data science
* List common development environment used in data science
* Practice ordered and unordered lists

##### Some of the common langauges used in data science are:
1. C++
2. Python
3. C
4. Java

##### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. PyTorch
4. Pandas

##### Exercise 6:
|Data Science Tools|
|------------------|
|VS Code|
|Anaconda|
|Jupyter Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: 
Qurrat Ul Ain